/* Base Syles */
* {
    box-sizing: border-box;
}

body {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0;

    
}

.container {
    margin: 0 auto;
    padding: 1rem;

}

/* Main Styles */
#heading {
    text-align: center;
    background-color: #303945; 
}

span {
   color: white; 
   font-weight: bold;
   font-size: 20px;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 0;
}

.signup {
    text-align: center;
    font-size: 14px;
    margin: .5em;
    margin-bottom: 30px;    
}

.hr1 {
    height: 4px;
    color: black;
    border-width: 0;
    background-color: black;
    margin-bottom: 0;
}

.hr2 {
    height: 2px;
    color: black;
    border-width: 0;
    background-color: black;
    margin-top: 3px;
    
}

fieldset {
    border: none;
    padding: 0;
    
}

legend {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: .5em;
   
}

.fieldset1 label{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin: 14px 0px;
    
}

.fieldset1 input, textarea{
    display: block; 
    width: 100%;
    margin: 0;
    padding: 18px; 
    font-size: 12px;
    border: 0;
    background: #EFF0F1;
    text-align: left;
    font-style: italic;
    border-radius: 5px;

}

input {
    transition: background-color 2s;
}

textarea {
    text-align: left;
}

input, ::placeholder {
    text-align: right;
    
}

#state {
    display: block; 
    width: 100%;
    margin: 0;
    padding: 18px; 
    font-size: 12px;
    border: 0;
    background: #EFF0F1;
    text-align: left;
    font-size: 16px;
    border-radius: 5px;
}

#zip {
    width: 50%;
    margin-bottom: 20px;
}

.hr3 {
    height: 2px;
    color: black;
    border-width: 0;
    background-color: black;
    margin-bottom: 25px;
}

.para2 {
    font-size: 14px;
}

.fieldset2 {  
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgb(151, 165, 171);
}

.fieldset2 input, label{
    margin: .70em;
    margin-left: 0;
    font-size: 15px;
}

.letter {
    margin-top: 20px;
    margin-bottom: 5px;
}

.other {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 14px;
}

#other-topics {
    padding: 35px;
}

button {
    margin-top: 30px;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: #6CB8B4;
    font-size: 20px;
}

footer {
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

input:focus, textarea:focus {
    outline: 3px solid rgb(36, 228, 253);
    background-color: rgb(125, 235, 255);
}

/* Media Queries */
@media screen and (min-width: 768px){
    form {
        max-width: 700px;
        margin: auto;
    }
    
    .hr2 {
        margin-bottom: 3em;
    }

   .fieldset1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    
   }


   input[type="text"],
   input[type="email"],
   input[type="tel"],
   #state {
        max-width: 75%;
        margin: 10px;
    
   }

    .top {
    float: left;
    width: 10em;
    clear: left;
    
    }

    #zip {
        max-width: 25%;
    }
    

 



 
   
}